body{
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 30px;
   
}
.banner{
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.baner-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}
.primary-button a{
    text-decoration: none;
    color: wheat;
    background-color: #ff008e;
    padding: 10px 20px;
    border-radius: 20px;
}
.banner-right img{
    width:100% ;
}
.hover-effect:hover {
    transform: scale(1.5) rotate(180deg);
    transition: transform 4s ease-in-out;
}