body{
    font-family: 'Poppins', sans-serif;
}
b{
    font-size: 30px;
}
h1{
    font-size: 30px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 30px;
   
}
.journey-part{
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
}
.journey-part-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}
.primary-button a{
    text-decoration: none;
    color: wheat;
    background-color: #ff008e;
    padding: 10px 20px;
    border-radius: 20px;
}
.banner-right img{
    width:100% ;
}
.hover-effect:hover {
    transform: scale(1.5) rotate(180deg);
    transition: transform 4s ease-in-out;
}

/* --------------popular collection
 part or (main part) start---------
--------------------- */
.popular-collection-blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 240x;
    margin: 10px;
}
.section-title{
    text-align: center;
}



.blogs .blog-banner img{
    width:300px;
    min-height:200px ;
    border-radius: 5px;
    margin-top: 20px;




}
.banner-description{
    width: 200px;
    max-height: 300px;
}


.blogs{
    width: 300px;
    padding: 30px;
    box-shadow: 0 25px 30px hsl(0, 0%, 96%)}

.blog-info i{
    color: rgb(255, 255, 0);

}
.blog-lower-part{
    color: #ff008e ;
    text-align: right;
    margin-right: 20px;
}
/*-----------------
main part complete---------
------------------ */




/* extra section part start */
.journey-part img{
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
}
/* extra section part complete */




/* Footer-part start */
footer{
    text-align: center;
    background-color: navy;
    color: whitesmoke;
    margin-top: 60px;
}



/* footer complete */


/* Media Queries */

/* Mobile devices */
@media only screen and (max-width:688px){
    .container{
        width: 100%;
       
    }
    
    
    .journey-part, .popular-collection-blogs {
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        
       
    }
    

}
@media only screen and (min-width: 688px) and (max-width:992px){

    .journey-part, .popular-collection-blogs{
        grid-template-columns: repeat(2,1fr);
        width: 100%;
    }
    
}

    


